<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-10/css/all.min.css" integrity="sha512-Pv1WJMqAtVgNNct5vhq+4cgkKinKpV1jCwSWD4am9CjwxsJSCkLWKcE/ZBqHnEE1mHs01c8B0GMvcn/pQ/yrog==" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
    <script>
      document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
       document.getElementById('load').style.visibility="visible";
  } else if (state == 'complete') {
      setTimeout(function(){  
         document.getElementById('load').style.visibility="hidden";
      },5);
  }
}
    </script>
    <style>
      #load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center rgba(0,0,0,0)
}
    </style>
  </head>
  <body>
    <div id="load"></div>
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Employees Details</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Employees </a>
          <ul class="dropdown-menu">
              <li><a href="/add-new-employee" class="dropdown-item">Add New Empolyee</a></li>
            <li><a href="/EmployeesDetails/1" class="dropdown-item">View All Employee</a></li>
          </ul></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Department Details </a>
            <ul class="dropdown-menu">
                <li><a href="/add-new-Department" class="dropdown-item">Add New Department</a></li>
              <li><a href="/view-all-Department" class="dropdown-item">View All Department</a></li>
            </ul></li>
      </ul>
    </div>
  </nav>
